header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}

.parent {
    grid-template-columns: 1fr 1fr;
  }

nav {
  ul {
    a {
        img {display: none;}
        span {display: block;}
      }
  }
} // end nav





footer div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}