/* Prevent adjustments of font size after orientation changes.  */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}
/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: rgba(0, 0, 0, 0.75);
}





#navWrapper {
  background-color: $menuColor;
  position: sticky;
  top: 0;
}

nav {
  ul li a {
    border: none;
  }

  ul li a:hover {
    background-color: rgba(79, 4, 133, 0.2);

  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    li {
      flex: 1;
    }
  }
  li.active {
    background-color:darken($menuColor,20%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
  }
  a {
    display: block;
    padding: 0.75rem;
    color: white;
    text-align: center;
    text-decoration: none;
    img {width: 25px;}
    span {display: none;}
    
    &:hover {
      color: white;
    }
  }
}

#mainWrapper {
  h1 {
    font-weight: 400;
    color: white;
    margin: 2rem;
    margin-bottom: 0;
    padding: $gutter;
    padding-bottom: 8px;
  }
}

section {
  height: 100vh;
  
    h2, h3{
      margin: 2rem;
      margin-top: 0;
      margin-bottom: 0;
      padding: $gutter;
      padding-top: 0;
      color: white;
      font-weight: 75;
      font-size: 18px;
    }
    h3 {
      margin-top: 0;
    }
    p {
      margin: 2rem;
      margin-top: 0;
      padding: $gutter;
      padding-top: 0;
      color: white;
      font-weight: $normalWeight;
      font-size: 18px;
    }
 img {
  margin: 2rem;
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: $gutter;
  display: block;
  text-align: center;
  align-items: center;
 } 
a {
  margin: 3rem;
  padding: $gutter;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(0, 102, 128);
  text-decoration: none;
  color: white;
  font-weight: $boldWeight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
a:hover {
  background-color: rgb(0, 102, 128);
  color: white;
}

}

form.myForm {
  margin: 2rem $gutter;

  label {
    display: block;
    color: white;
  }

  h3 {
    color: black;
    margin: 2rem;
    border-bottom: 1px solid #eee;
  }
  h4 {
    color: black;
  }

input[type=text], input[type=tel],
input[type=email], input[type=date],
input[type=password],
select {
  display: block;
  margin: .2rem 0 1rem 0;
  border: 1px solid #999;
  border-radius: 10px;
  border-top-width: 4px;
  border-top-color: #555;
  font-size: 1rem;
  color: black;
  width: 250px;
  padding: .3rem $gutter;
}

input:required {
  border-top-color: red;
}
input:focus{
  border-top-color: blue;
}
input:required:valid{
  border-top-color: green;
}

input[type=submit] {
  border: none;
  background-color: rgb(0, 102, 128);
  color: white;
  border-radius: 15px;
  padding: .5rem 1.25rem;
  margin: 2rem 0;
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
}
}








// begin the footer

#footerWrapper {
  background-color: $menuColor;
}
footer {
  padding: 0.5rem $gutter;

  
  .contact {
    a {
      text-decoration: none;
      color: white;
    }
    p {
      color: white;
    }

  }//end of contact

  .social {
    display: flex;
    justify-content: center;
    a {
      display: block;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      color: white;
    }

  }//end of social
  p.legal {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    color: white;
  }
}
